<div class="{{classes}} chat-notify-{{color}}">
  <div class="czt-chat-notify-title">{{localize title}}</div>
  {{#if message}}
    <div class="czt-chat-notify-message">{{localize message}}</div>
  {{/if}}
</div>